In [3]:
### Load Libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

In [4]:
### Load Data
dataset = pd.read_csv('covid_dataset.csv')
dataset.head(10)

             Day  Lab Test  Confirmed case  Death Case
0  2020-April-04       434               9           2
1  2020-April-05       367              18           1
2  2020-April-06       468              35           3
3  2020-April-07       679              41           5
4  2020-April-08       981              54           3
5  2020-April-09       905             112           1
6  2020-April-10      1184              94           6
7  2020-April-11       954              58           3
8  2020-April-12      1340             139           4
9  2020-April-13      1570             182           5

In [6]:
# label_encoder object  
label_encoder = preprocessing.LabelEncoder()
dataset['Day']= label_encoder.fit_transform(dataset['Day']) 
dataset.head(80)

    Day  Lab Test  Confirmed case  Death Case
0     0       434               9           2
1     1       367              18           1
2     2       468              35           3
3     3       679              41           5
4     4       981              54           3
..  ...       ...             ...         ...
75  137     16259            3803          38
76  138     15045            3243          45
77  139     14031            3240          37
78  140     15585            3531          39
79  141     15555            3480          38

[80 rows x 4 columns]

In [7]:
dataset.shape

(626, 4)

In [5]:
dataset.describe()

              Day      Lab Test  Confirmed case  Death Case
count  626.000000    626.000000      626.000000  626.000000
mean   312.500000  18033.835463     2526.009585   44.798722
std    180.854914   9357.619008     2936.765446   54.528270
min      0.000000    367.000000        9.000000    0.000000
25%    156.250000  12869.500000      657.750000   14.000000
50%    312.500000  15557.000000     1637.000000   30.000000
75%    468.750000  20982.750000     2953.500000   44.000000
max    625.000000  55284.000000    16230.000000  264.000000

In [6]:
### Split Data
X= dataset.drop('Death Case', axis=1)
y= dataset['Death Case']

print('Shape of X =', X.shape)
print('Shape of y =', y.shape)

Shape of X = (626, 3)
Shape of y = (626,)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=51)
 
print('Shape of X_train = ', X_train.shape)
print('Shape of y_train = ', y_train.shape)
print('Shape of X_test = ', X_test.shape)
print('Shape of y_test = ', y_test.shape)

Shape of X_train =  (500, 3)
Shape of y_train =  (500,)
Shape of X_test =  (126, 3)
Shape of y_test =  (126,)

In [8]:
### Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [9]:
## Polynomial Linear Regression Model Training
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
 
poly_reg = PolynomialFeatures(degree=2)
poly_reg.fit(X_train)
X_train_poly = poly_reg.transform(X_train)
X_test_poly = poly_reg.transform(X_test)

In [10]:
X_train_poly.shape, X_test_poly.shape

((500, 10), (126, 10))

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(X_train_poly, y_train)

LinearRegression()

In [13]:
lr.score(X_test_poly, y_test,)

0.9101364781069621

In [14]:
lr.predict([X_test_poly[0,:]])

array([31.17951552])

In [15]:
y_pred = lr.predict(X_test_poly)
y_pred

array([ 31.17951552,  33.1187629 ,  25.14229839,  27.76310679,
        21.61603927,  22.92902579,  17.68115367, 236.15028245,
       158.42259091,  67.19673077,  34.39297271,   8.12230092,
        27.15255403,  25.90262066, 202.77475064,   5.23285211,
         7.5296219 ,  33.88245363,  11.17615872,  69.40244672,
        27.27281435,  31.19024163,   6.25561196,   7.10131368,
        39.26364981,  60.81281486, 171.95008233,  38.52560034,
        14.20436053,  15.87896   ,   6.80504154,  20.98441732,
        60.84769258,  32.10501225,  85.25231428,  42.85676756,
        16.42267059,  18.70750014,  38.48372044,  67.32115365,
        14.58281909,   3.88129841,  36.18888468,   4.89793798,
        91.84839707,  57.17288946,  38.76819593,  20.07141223,
         4.72105979,  29.45996047,   7.87872146, 168.54317427,
        67.04299741,  20.21377056,  98.34937284,  35.41997963,
        23.68990791,   8.1105099 ,   3.11162034,  44.54451937,
        33.98665428,  23.80894514,  16.41915941,  75.07820642,
        15.07061171,  26.85683407,   2.83290124,  41.08436987,
         9.51116124,  34.48946811,  31.88001334, 238.32626157,
         7.61189113,  34.27086195,  17.27299395,  21.78945266,
        20.48538928,  47.8794847 ,  21.13560934,   4.96771236,
        15.38453369,  31.64730451,  35.28304336,   8.88014239,
         9.86934886,   4.2685331 ,  32.87226558,   0.92654101,
        39.56206626,  37.61872435,  43.04160945,  34.42596913,
        31.28252526,   5.24928504,  13.07475351,  42.51674578,
        23.76330755,  15.7756855 ,  33.86573621,   8.76086625,
       136.64892732,  39.95789134,  38.56164383, 150.10002794,
        45.97724015, 193.62293849,  30.40004975,  32.35943556,
        42.35004404,  36.31748716,  45.94325249, 126.39226504,
        20.03271284,  91.45223822,  32.1993221 ,  41.67423542,
        23.48690883,   5.37837285,  18.28660666,  74.26262748,
        39.40303035,   7.89022056,  51.19384764,  14.6081577 ,
        66.69657936, 197.00090582])

In [16]:
y_test

542     31
235     39
46      16
215     17
619      3
      ...
606      2
79      38
284     14
387     97
463    230
Name: Death Case, Length: 126, dtype: int64

In [17]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
 
mse, rmse

(237.30997655094723, 15.404868598951023)